services:
  hyperion-proxy:
    image: ghcr.io/hyperion-mc/hyperion/hyperion-proxy:latest
    build:
      context: .
      dockerfile: Dockerfile
      target: hyperion-proxy
    ports:
      - "25565:25565"
    command: [ "--server", "tag:35565", "0.0.0.0:25565" ]
    # restart: unless-stopped
    environment:
      - RUST_LOG=info
    networks:
      - proxy-network
    depends_on:
      - tag
  tag:
    image: ghcr.io/hyperion-mc/hyperion/tag:latest
    build:
      context: .
      dockerfile: Dockerfile
      target: tag
    ports:
      - "27750:27750"
    expose:
      - "35565"
    command: [ ]
    # restart: unless-stopped
    environment:
      - RUST_LOG=info
    networks:
      - proxy-network
  rust-mc-bot:
    # image: ghcr.io/hyperion-mc/hyperion/rust-mc-bot:latest
    build:
      context: .
      dockerfile: Dockerfile
      target: rust-mc-bot
    command: [ "hyperion-proxy:25565", "100", "1" ]
    # restart: unless-stopped
    depends_on:
      - hyperion-proxy
    environment:
      - RUST_LOG=info
    networks:
      - proxy-network

networks:
  proxy-network:
    driver: bridge